<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Phish Detector</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='3075494.png') }}" sizes="16x16">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='phishing_home.css') }}">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static',filename='phishing_home.js') }}"></script>
</head>

<body>

    <div class="center-outer">
        <div class="center-inner">
        
        <div class="bubbles">
        <h1><span style="font-size: 100px; color:aqua">P</span>HISHING <span style="font-size: 100px; color:aqua">D</span>ETECTER</h1>
        </div>
        
        </div>
        </div>

    <img class="hook" src="{{ url_for('static',filename='phishing_318-755502.png') }}"/>
    <div class="wrap">
        <form action="http://127.0.0.1:5000/" method="post">
            <div class="search">
                <input type="text" name='url' class="searchTerm" placeholder="Paste URL">
                <button type="submit"  onclick= "roll()" class = "searchButton">Check
                  <i class="fa fa-search"></i>
               </button>
             </div>
        </form>
        {% if status == 'Fail' %}
        <h6 style="text-align: center;">Unable to fetch data.The website you have entered in not available/the 
            website prevents scraping </h6>
        {% else %}
        {% endif %}
     </div>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <div id  ='roll' class="loader" style="visibility: hidden;">Loading...</div>
     
</body>
<script>
    function roll() {
        console.log('clc')
        console.log(document.getElementById("roll").style.visibility)
        document.getElementById("roll").style.visibility = "visible" }
  </script>
</html>